
table {
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

th {
    border-bottom: 1px solid #000;
}

tbody td {
    border-bottom: 1px dashed #adadad;
}

tfoot td {
    text-align: center;
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    background-color: #f5f5f5;
    border: 1px solid #000;
    color: #424242;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #c0c0c0;
}

button[disabled] {
    opacity: 0.5;
}